@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Work Sans", sans-serif;
}

h3 {
  color: white;
  text-align: center;
}

.side_bar {
  position: relative;
  left: 50px;
  top: 30px;
  width: 300px;
}

a {
  text-decoration: none;
  margin: 10px;
  color: white;
  font-weight: 500;

}
a:hover {
  cursor: pointer;
}

p {
  color: white;
  font-weight: 700;
}

.user > * {
  font-weight: 700;

}

.user {
  position: relative;
  top: 50px;
}


ul {
  list-style-type: none;
}

li > * {
  margin: 10px;
}

.display {
  position: fixed;
  bottom: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  width: 500px;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.fa-solid {
  margin: 10px;
  
}

.display>* {
  color: black;
}

.progress {
  position: relative;
  width: 400px;
  height: 5px;
  background-color: grey;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  bottom: 10px;
}

#elements {
  position: relative;
  bottom: 10px;
}


@media screen and (max-width: 390px) {
  * {
    font-family: "Work Sans", sans-serif;
  }

  h3 {
    color: white;
    text-align: center;
  }

  .side_bar {
    position: relative;
    left: 50px;
    top: 30px;
    width: 300px;
  }

  a {
    text-decoration: none;
    margin: 10px;
    color: white;
    font-weight: 500;

  }

  p {
    color: white;
    font-weight: 700;
  }

  .user > * {
    font-weight: 700;

  }

  .user {
    position: relative;
    top: 50px;
  }


  ul {
    list-style-type: none;
  }

  li > * {
    margin: 10px;
  }
  
  .display {
    position: fixed;
    bottom: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
  }

  .fa-solid {
    margin: 10px;
    font-size: 1.5em;

  }

  .display>* {
    color: black;
  }

  .progress {
    position: relative;
    width: 200px;
    height: 5px;
    background-color: grey;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    bottom: 10px;
  }

  #elements {
    position: relative;
    bottom: 10px;
  }
}