
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


<div class="side_bar">
    <h3>SOUNDBETTER</h3>

    <div class="menu">
        <p>MENU</p>
        <ul id="menu">
            <li>
                <i class='bx bxs-music' style='color:#ffffff'  ></i>
                <a href="#">Titres</a>
            </li>
            <li>
                <i class='bx bxs-album' style='color:#ffffff' ></i>
                <a href="#">Albums</a>
            </li>
            <li>
                <i class='bx bxs-playlist' style='color:#ffffff' ></i>
                <a href="#">Playlists</a>
            </li>

        </ul>
    </div>

    <div class="playlist">
        <p>PLAYLIST</p>
        <ul id="playlistMenu">
            <li>
                <i class='bx bx-plus'></i>
                <a href="#">Create new</a>
            </li>
            <li>
                <i class='bx bx-star' style='color:#ffffff' ></i>
                <a href="#">Your playlist</a>
            </li>
        </ul>
    </div>
</div>

<div class="user">
    <a href="login">SignIn</a>
    <a href="register">Register</a>
</div>

<div id="cover">
    <i class='bx bxs-music bx-lg' style='color:#ffffff'  ></i>
</div>

<div class="display">

    <i class="fa-solid fa-backward" title="Previous" id="prev"></i>
    <i class="fa-solid fa-play play-button" title="Play" id="play"></i>
    <i class="fa-solid fa-forward" title="Next" id="next"></i>

    <div id="progress"></div>
</div>