
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    


<h3>SOUNDBETTER</h3>

<div class="side_bar">

    <div class="menu">
        <p>MENU</p>
        <ul id="menu">
            <li>
                <i class='bx bxs-music' style='color:#ffffff'  ></i>
                <a href="music">Titles</a>
            </li>
            <li>
                <i class='bx bxs-album' style='color:#ffffff' ></i>
                <a href="#">Albums</a>
            </li>
            <li>
                <i class='bx bxs-playlist' style='color:#ffffff' ></i>
                <a href="playlist">Playlists</a>
            </li>
        </ul>
    </div>

    <div class="playlist">
        <p>PLAYLIST</p>
        <ul id="playlistMenu">
            <li>
                <i class='bx bx-plus' style='color:#ffffff'></i>
                <a (click)="openDialog()">Create new</a>
            </li>
            <li>
                <i class='bx bx-star' style='color:#ffffff' ></i>
                <a href="#">Your playlist</a>
            </li>
        </ul>
    </div>

    <div class="user">
        <ng-template #showRegister>
            <a href="login">SignIn</a>
            <a href="register">Register</a>
        </ng-template>
        <div *ngIf="isLoggedin; else showRegister" (click)="logout()">
            <a href="login">logout</a>
        </div>
    </div>
</div>

<div class="musicList">
       
</div>


<div class="display">
    <h3>titre</h3>
    <div class="progress"></div>
     <div id="elements">
        <i class="fa-solid fa-backward"></i>
        <i class="fa-solid fa-play" id="play" [ngClass]="{'fa-play': !isPlaying, 'fa-pause': isPlaying}" (click)="togglePlay()"></i>
        <i class="fa-solid fa-forward"></i>
    </div>
</div>
