p {
    text-align: center;
    position: relative;
    top: 30px;
}

.action > * {
    margin: 30px;
}

.action {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 50px;
}

button {
    width: 100px;
}