
<div id="header">
    <h4>SOUNDBETTER</h4>

    <div class="logElement">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</div>

<div class="login">

    <input type="email" id="mail" placeholder="your mail" [(ngModel)]="email"/>
    <br>
    <input type="text" id="pseudo" placeholder="your pseudo" [(ngModel)]="pseudo"/>
    <br>
    <input type="password" id="password" placeholder="your password" [(ngModel)]="password"/>
    <br>
    <input type="password" id="password" placeholder="confirm password" [(ngModel)]="confirmPassword"/>
    <br>
    <input type="button" value="Register" id="button" (click)="onSubmit()"/>

</div>

