@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
}





#header {
    display: grid;
    grid-template-columns: 2fr 1fr 0fr;
    gap: 10px 2em;
    align-items: center;
    position: relative;
    width: 100%;
    border-radius: 10px;
}

h3 {
    position: relative;
    left: 50px;
    color: #ffffff;
}

p {
    color: #102E4A;
}



.login > input {
    width: 200px;
    border: solid 2px #000000;
    height: 30px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;


}

.login {
    display: grid;
    justify-items: center; /* align horizontal */
    align-items: center;
    border: none;
    position: relative;
    top: 200px;
    width: 500px;
    height: 300px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}

#button{
    background-color: #a1a1a1;
    color: #102E4A;
    font-weight: 700;
    cursor: pointer;
}

#email_required {
    color: red;
}

#email_incorrect {
    color: red;
}

